.main-header {
    background-color: #278775; /* Choose any color you like */
    color: rgb(0, 0, 0);
    padding: 24px 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.main-header nav {
   text-align: right;
}

.main-header .name {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.main-header h1 {
    margin: 0 0 12px 0;
    font-size: 2.2em;
    letter-spacing: 1px;
}

.main-header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.2s;
}

.main-header nav a:hover {
    color: #000000;  /* Highlight color on hover */
}

.headshot-img{
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.headshot-img:hover{
    transform: scale(1.10);
}
    