*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

    z-index: 1000;

    background-color: yellow;

    background-color: rgba(255, 255, 0, 0.8);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s ease;
}

.nav-links a:hover {
    color: #07f3e7;
}

html {
    scroll-behavior: smooth;
}


.main-header a {
    color: black;
    text-decoration: none;

}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.headshot-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition:  transform 0.3s ease, box-shadow 0.3s ease;
}

.headshot-img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}
